* {
  box-sizing: border-box;
}

html,
body,
input,
textarea,
select,
button {
  font-size: 16px;
  line-height: 1.15;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
}

.header {
  padding-top: 47px;
  padding-right: 74px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.nav-items {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 60px;
  margin-top: 10px;
}

.nav-item {
  font-size: 18px;
  margin: 0 16px;
  padding: 0 15px;
}

.btn {
  border: 0;
  background: transparent;
  outline: 0;
}

.btn.outline {
  border: 2px solid #1d1d1d;
  border-radius: 18px;
  padding: 12px 40px;
  font-size: 18px;
  font-weight: 500;
}


.hero {
  height: 612px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hero-container {
  max-width: 500px;
  margin: 0;
}

.hero .title {
  font-size: 48px;
  line-height: 64px;
  font-weight: 600;
  margin-bottom: 34px;
}

.hero .description {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.wrapper {
  display: flex;
  margin-top: 100px;
}

.side-bar {
  width: 177px;
  margin-right: 123px;
}

.side-bar-items {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 30px;
}

.side-bar-item {
  display: flex;
  height: 54px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 20px;
  padding-left: 25px;
  color: #808080;
  align-items: center;
  position: relative;
  transition: 0.5s ease-in-out;
}

.side-bar-item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 5px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}

.side-bar-item:hover {
  color: #1d1d1d;
  font-weight: 600;
  transform: scale(1.1);
}

.side-bar-item:hover::before {
  background-color: #83067f;
  transition: all 0.5s ease-in-out;

}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  height: 277px;
  width: 880px;
  border: 1px solid black;
  margin-bottom: 59px;
}

.img-banner-small {
  padding-left: 20px;
}

.price-banner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 46px;
}

.money.money-baner {
  justify-content: flex-start;
  width: fit-content;
}

.save.save-baner {
  font-size: 18px;
  line-height: 27px;

}

.price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-end;
  transition: 0.5s ease-in-out;
}

.price.new {
  margin-left: auto;
  padding-left: auto;
  margin-right: 30px;
}

.new-text {
  margin-right: 30px;
  font-size: 18px;
  font-weight: 700;
  color: #83067f;
  text-align: end;
  border-bottom-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to left, #83067f 0%, transparent 100%) 1;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.banner-a {
  display: flex;
  font-size: 24px;
  color: #fff;
  border: 1px solid #1d1d1d;
  border-radius: 100%;
  min-width: 50px;
  min-height: 50px;
  background-color: #1d1d1d;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.description {
  font-size: 18px;
  line-height: 27px;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  transition: 0.5s ease-in-out;
  padding-left: 0;
  margin-left: 0;
  margin-top: 40px;
}

.menu-item {
  width: 280px;
  height: 277px;
  list-style: none;
  position: relative;
  padding-bottom: 50px;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.menu-item:hover {
  border: 1px solid black;
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.menu-item:hover .save {
  font-size: 18px;
  line-height: 27px;
}

.menu-item:hover .money {
  font-size: 24px;
  line-height: 36px;
  padding-left: 7.5px;
}

.menu-item:hover span {
  display: none;
}

.price {
  display: flex;
  height: 80px;
  align-items: center;
}

.save {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #83067f;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}

.money {
  display: flex;
  height: 80px;
  width: 80px;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #1d1d1d;
  padding-left: 18px;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.5s ease-in-out;
}

.money::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,
      rgba(73, 190, 255, 0.3) 0%,
      rgba(200, 82, 255, 0.28) 100%);
  mix-blend-mode: normal;
  filter: blur(20px);
  transition: 0.5s ease-in-out;
}

.menu-item:hover .money::before {
  transform: scale(5);

}

.article-img {
  padding-top: 15px;
}

.menu-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding: 0 20px;
}

.menu-a {
  display: flex;
  width: 560px;
  height: 50px;
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  padding-left: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 30px;
  color: #fff;
  background-color: #1d1d1d;
  overflow: hidden;
  transform: translateX(-280px);
  transition: 0.5s ease-in-out;
}

.transition {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.menu-item:hover .menu-a {
  transform: translatex(0px);
  transition: all 0.5s ease-in-out;
}

.arrow {
  display: flex;
  width: 280px;
  justify-content: flex-end;
  align-items: center;
}

.code {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding-left: 30px;
  text-transform: uppercase;
}






.banner2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  padding: 30px 30px 18px 30px;
  width: 100%;
  height: 277px;

  color: #1d1d1d;
  background: linear-gradient(94.73deg,
      #eff9ff 1.96%,
      rgba(252, 245, 255, 0.58) 91.67%);
  border: 4px solid rgba(255, 255, 255, 0.4);

  box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
  border-radius: 20px;
}

.banner2 .col.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 11px;

  height: 100%;
}

.banner2-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.banner-logo-img {
  margin-bottom: -45px;
  margin-left: -15px;

}

.offer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 16px;
  width: 147px;
  height: 147px;
  border-radius: 147px;

  position: relative;
}

.offer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  background: linear-gradient(90deg,
      rgba(73, 190, 255, 0.3) 0%,
      rgba(200, 82, 255, 0.28) 100%);
  filter: blur(46.1196px);
}

.offer-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: rgba(131, 6, 127, 1);
  text-transform: uppercase;
}

.offer-price {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.banner-badge {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 4px;
  color: #83067f;
  text-transform: uppercase;
  position: relative;
}

.banner-badge::after {
  content: "";
  position: absolute;

  right: 4px;
  bottom: 0;

  height: 1px;
  width: 100px;
  background-image: linear-gradient(to left, rgb(131, 6, 127), #fff);
}

.btn.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.btn.black {
  background: #1d1d1d;
  color: #fff;
}

@media (orientation: landscape) and (max-width: 1200px) {
  body {
    flex-direction: row;

  }

  .wrapper.container {
    max-width: fit-content
  }

  .wrapper {
    margin-top: 0;
  }

  .header {
    display: flex;
    justify-content: space-around;
    padding: 0;
  }

  .nav-bar {
    display: flex;
    justify-content: center;
  }

  .hero {
    height: fit-content;
    padding: 15% 3% 5% 3%;
  }

  .wrapper.container {
    display: flex;
    flex-direction: row;
  }


  aside {
    width: 50%;
    display: flex;
    flex-direction: row;
  }


  .banner2 {
    flex-direction: column;
    flex-wrap: wrap;
    height: fit-content;
    margin: 0;
    padding: 0;
  }

  .offer-title {
    text-align: center;
  }

  .banner2-text {
    margin: 0 10px;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .banner-badge {
    margin-bottom: 20px;
  }

  .main {
    margin-right: 3%;
  }

  .side-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 50px 0 0;
    justify-content: center;
  }

  .side-bar-item {
    margin-left: 5%;
  }

  .menu-items {
    display: flex;
    align-items: center;
    justify-content: center;
  }





}

@media (orientation: portrait) {
  body {
    flex-direction: column;
    align-items: center;
  }

  .header {
    justify-content: center;
    align-items: center;
    left: 0;
    padding: 0;
    margin: 0;
  }

  .nav-bar {
    align-items: center;
    justify-content: space-around;

    padding: 0;
    background-color: none;
  }

  h1 {
    margin-top: 10px;
  }

  .hero .title {
    margin-bottom: 10px;
  }

  .description {
    margin: 0 5px;
    text-align: left;
    margin-bottom: 10px;
  }


  .nav-items {
    margin-right: 0;
    margin-top: 0;
    margin-left: 10px;
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;

    height: auto;

  }

  .btn.outline {}

  .nav-item {
    padding: 0;
    margin: 0;
    margin-right: 10px;
  }

  .wrapper {
    margin-top: 0;
  }

  .hero {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 0;
    min-width: 375px;
    height: auto;
    padding-top: 50px;
  }

  .container {
    width: auto;
  }

  .hero-container {
    padding: 0 10px;

  }

  .menu-items {
    justify-content: space-around;
    margin-top: 30px;
  }

  .banner2 {
    flex-direction: column;
    height: fit-content;
    margin: 0;
    padding: 0;
  }

  .wrapper.container {
    display: flex;

    flex-direction: column;
  }

  .side-bar {
    margin: 0;
  }


  .side-bar-items {
    flex-direction: row;
    margin-top: 0;
  }

  .side-bar-item {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .banner-img {
    width: 100%;
  }

  .offer {
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 10px;
    margin-top: 10px;
  }

  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
  }


  .banner-logo-img {
    margin-bottom: 0;
    margin-left: 0;
    padding-bottom: 10px;
  }

  .banner2-text {
    display: flex;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    width: 75%;
  }

  .banner-badge {
    margin-bottom: 20px;
  }

  .btn.circle.black {
    margin-bottom: 20px;
  }

  aside {
    grid-template-columns: auto;
    border-collapse: collapse;
    display: table-row;

  }

}